.onboarding{
    height: 100vh;
    width: 100%;
    background: #F8E7FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    position: relative;
}

.text h1{
    font-size: 32px;
    font-weight: 400px;
    color: #4F285E;
    padding-left: 20px;
    text-align: left;
}

.loading-box {
    width: 100px;
    height: 20px;
    background: #BE5587;
    animation: loading 4.2s ease-in-out;
    margin-top: 100px;
}

.image {
    position: absolute;
    top: 360px;
    bottom: 0px;
}


@keyframes loading {
    0% {
      width: 30px;
    }
    50% {
      width: 100px;
    }
    100% {
      width: 30px;
    }
}
